@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap')

html, 
body 
    padding: 0
    margin: 0
    font-family: 'Gudea', sans-serif
    background-color: #D8E3E4


a 
    color: inherit
    text-decoration: none


* 
    box-sizing: border-box


